services:
  postgres:
    container_name: onvi-business-postgres
    image: postgres
    env_file:
      - ./config/env/.env.development
    ports:
      - '5432:5432'
    volumes:
      - onvi-business-postgres:/data/postgres
      - ./docker/postgres/create-database.sql:/docker-entrypoint-initdb.d/create-database.sql
    restart: always
    networks:
      - postgres-network
  pgadmin:
    container_name: onvi-business-pgadmin
    image: dpage/pgadmin4
    env_file:
      - ./config/env/.env.development
    ports:
      - "16543:80"
    depends_on:
      - postgres
    networks:
      - postgres-network
  redis:
    image: redis:latest
    restart: always
    ports:
      - "6379:6379"
    volumes:
      - onvi-business-redis:/data
    env_file:
      - ./config/env/.env.development
volumes:
  onvi-business-postgres:
  onvi-business-redis:
networks:
  postgres-network:
    driver: bridge