version: '3'

services:
  onvi-business-backend:
    container_name: onvi-business-backend
    build:
      context: .
      dockerfile: Dockerfile
    env_file: config/env/.env.production
    environment:
      - APP_ROLE=app
    ports:
      - "5001:5001"
    restart: always

  onvi-business-report-worker:
    container_name: onvi-business-report-worker
    build:
      context: .
      dockerfile: Dockerfile
    env_file: config/env/.env.production
    environment:
      - APP_ROLE=reportWorker
    restart: always

  onvi-business-data-raw-worker:
    container_name: onvi-business-data-raw-worker
    build:
      context: .
      dockerfile: Dockerfile
    env_file: config/env/.env.production
    environment:
      - APP_ROLE=dataRawWorker
    restart: always

  onvi-business-cron:
    container_name: onvi-business-cron
    build:
      context: .
      dockerfile: Dockerfile
    env_file: config/env/.env.production
    environment:
      - APP_ROLE=cron
    restart: always
